* {
    outline: 2px solid red;
}

body {
    height: 200vh;
    padding: 0;
    margin: 0;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

header {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1F2937;
    color: #F9FAF8;
    font-size: 24px;
    display: flex;
    padding: 16px;
    width: 100%;
}
.navbar,
.hero {
    flex: 1;
    max-width: 1000px;
}
.navbar {
    display: flex;
    margin-bottom: 100px;
    width: 100%;
}
.logo {
    font-weight: 700;
}
header ul {
    margin: 0;
    margin-left: auto;
    padding: 0;
    display: flex;
}
header li {
    margin-left: 16px;
    list-style-type: none;
}
header a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}
.hero {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    flex-wrap: wrap-reverse;
    text-align: left;
    font-size: 48px;
    font-weight: 900;
    gap: 48px;
    margin-bottom: 100px;
}
.main,
.image {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.main p,
.placeholder {
    font-size: 18px;
    font-weight: 100;
}
.main p {
    margin: 0 30px 8px 0;
}
button {
    flex-shrink: 0;
    max-width: 90px;
    padding: 6px;
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 6px;
    font-weight: 900;
}
.image {
    background-color: #7e7f80;
    justify-content: center;
}
.image .placeholder {
    align-self: center;
    text-align: center;
}

.info {
    flex: 1;
    width: 100%;
}
.title {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    padding: 16px 0;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 56px;
}
.card {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 152px;
}
.art {
    border: 2px solid #3882F6;
    border-radius: 4px;    
    width: 150px;
    height: 150px;
}
.card p {
    width: 150px;
}

.quote {
    flex: 1;
    margin-top: 200px;
    margin-bottom: 200px;
    background-color: #E5E7EB;
    width: 100%;
}


.signup {
    flex: 1;
}